{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "key-spacing": 0,
    "no-console": 0,
    "global-require": 0,
    "no-constant-condition": 0
  },
  "plugins": [
    "react"
  ]
}
