doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Popup)
    include ../partials/styles.pug
    style.
      body { width: 500px; }

  body
    #root
    include ../partials/scripts
